In [40]:
#import dependencies
import pandas as pd
import matplotlib

#https://raw.githubusercontent.com/fivethirtyeight/data/master/congress-generic-ballot/generic_topline_historical.csv

In [41]:
#read in dataset
file = '../generic_topline_historical.csv'
df = pd.read_csv(file)
print(df.head(50))

     subgroup   modeldate  dem_estimate    dem_hi    dem_lo  rep_estimate  \
0   All polls   11/9/1995      50.00000  56.30568  43.69432      44.00000
1   All polls  11/10/1995      50.00000  56.30568  43.69432      44.00000
2   All polls  11/11/1995      50.00000  56.30568  43.69432      44.00000
3   All polls  11/12/1995      50.00000  56.30568  43.69432      44.00000
4   All polls  11/13/1995      50.00000  56.30568  43.69432      44.00000
5   All polls  11/14/1995      50.00000  56.30568  43.69432      44.00000
6   All polls  11/15/1995      49.49995  55.37096  43.62895      44.00000
7   All polls  11/16/1995      49.49995  55.37122  43.62868      44.00000
8   All polls  11/17/1995      49.49995  55.37136  43.62854      44.00000
9   All polls  11/18/1995      49.49995  55.37151  43.62840      44.00000
10  All polls  11/19/1995      49.65863  55.36221  43.95506      42.07977
11  All polls  11/20/1995      47.11865  52.50246  41.73484      40.57055
12  All polls  11/21/1995      47.11893  52.50295  41.73491      40.57048
13  All polls  11/22/1995      47.11922  52.50352  41.73492      40.57030
14  All polls  11/23/1995      47.11948  52.50401  41.73495      40.57019
15  All polls  11/24/1995      47.11976  52.50449  41.73504      40.57013
16  All polls  11/25/1995      47.11999  52.50490  41.73508      40.56998
17  All polls  11/26/1995      47.12025  52.50540  41.73510      40.56986
18  All polls  11/27/1995      47.12055  52.50589  41.73520      40.56982
19  All polls  11/28/1995      47.12075  52.50631  41.73518      40.56961
20  All polls  11/29/1995      47.12109  52.50692  41.73527      40.56959
21  All polls  11/30/1995      47.12140  52.50743  41.73537      40.56953
22  All polls   12/1/1995      47.12161  52.50788  41.73535      40.56933
23  All polls   12/2/1995      47.12189  52.50840  41.73539      40.56923
24  All polls   12/3/1995      47.12222  52.50894  41.73550      40.56916
25  All polls   12/4/1995      47.12242  52.50938  41.73546      40.56893
26  All polls   12/5/1995      47.12272  52.50993  41.73550      40.56883
27  All polls   12/6/1995      47.12289  52.51021  41.73558      40.56878
28  All polls   12/7/1995      47.12320  52.51079  41.73562      40.56867
29  All polls   12/8/1995      47.12350  52.51134  41.73567      40.56857
30  All polls   12/9/1995      47.12381  52.51191  41.73571      40.56846
31  All polls  12/10/1995      47.12415  52.51253  41.73576      40.56835
32  All polls  12/11/1995      47.12433  52.51282  41.73584      40.56829
33  All polls  12/12/1995      46.86538  52.35025  41.38051      40.34724
34  All polls  12/13/1995      46.45296  51.62141  41.28451      38.88784
35  All polls  12/14/1995      46.45182  51.62150  41.28215      38.88674
36  All polls  12/15/1995      46.45098  51.62232  41.27964      38.88591
37  All polls  12/16/1995      46.44978  51.62282  41.27673      38.88458
38  All polls  12/17/1995      46.44850  51.62257  41.27443      38.88328
39  All polls  12/18/1995      46.44771  51.62315  41.27228      38.88227
40  All polls  12/19/1995      46.83190  51.96053  41.70327      39.51714
41  All polls  12/20/1995      46.83237  51.96213  41.70262      39.51804
42  All polls  12/21/1995      46.83295  51.96394  41.70196      39.51908
43  All polls  12/22/1995      46.83299  51.96511  41.70088      39.51947
44  All polls  12/23/1995      46.83400  51.96748  41.70051      39.52090
45  All polls  12/24/1995      46.83422  51.96862  41.69981      39.52148
46  All polls  12/25/1995      46.83465  51.97060  41.69870      39.52238
47  All polls  12/26/1995      46.83577  51.97317  41.69837      39.52396
48  All polls  12/27/1995      46.83591  51.97433  41.69749      39.52450
49  All polls  12/28/1995      46.83658  51.97650  41.69666      39.52569

      rep_hi    rep_lo             timestamp
0   50.30568  37.69432  11:37:15  3 Sep 2020
1   50.30568  37.69432  11:37:14  3 Sep 2020
2   50.30568  37.69432  11:37:14  3 Sep 2020
3   50.30568  37.69432  11:37:14  3 Sep 2020
4   50.30568  37.69432  11:37:14  3 Sep 2020
5   50.30568  37.69432  11:37:14  3 Sep 2020
6   49.87100  38.12900  11:37:14  3 Sep 2020
7   49.87127  38.12873  11:37:14  3 Sep 2020
8   49.87141  38.12859  11:37:14  3 Sep 2020
9   49.87155  38.12845  11:37:14  3 Sep 2020
10  47.78334  36.37619  11:37:14  3 Sep 2020
11  45.95436  35.18674  11:37:14  3 Sep 2020
12  45.95450  35.18646  11:37:13  3 Sep 2020
13  45.95460  35.18600  11:37:13  3 Sep 2020
14  45.95472  35.18566  11:37:13  3 Sep 2020
15  45.95486  35.18541  11:37:13  3 Sep 2020
16  45.95490  35.18507  11:37:13  3 Sep 2020
17  45.95501  35.18471  11:37:12  3 Sep 2020
18  45.95516  35.18447  11:37:12  3 Sep 2020
19  45.95518  35.18405  11:37:12  3 Sep 2020
20  45.95541  35.18377  11:37:12  3 Sep 2020
21  45.95557  35.18350  11:37:12  3 Sep 2020
22  45.95560  35.18307  11:37:12  3 Sep 2020
23  45.95573  35.18272  11:37:11  3 Sep 2020
24  45.95589  35.18244  11:37:11  3 Sep 2020
25  45.95589  35.18197  11:37:11  3 Sep 2020
26  45.95605  35.18162  11:37:11  3 Sep 2020
27  45.95609  35.18146  11:37:11  3 Sep 2020
28  45.95626  35.18109  11:37:10  3 Sep 2020
29  45.95641  35.18073  11:37:10  3 Sep 2020
30  45.95656  35.18036  11:37:10  3 Sep 2020
31  45.95673  35.17997  11:37:10  3 Sep 2020
32  45.95679  35.17980  11:37:10  3 Sep 2020
33  45.83211  34.86238  11:37:09  3 Sep 2020
34  44.05629  33.71939  11:37:09  3 Sep 2020
35  44.05641  33.71706  11:37:09  3 Sep 2020
36  44.05725  33.71457  11:37:09  3 Sep 2020
37  44.05762  33.71154  11:37:09  3 Sep 2020
38  44.05735  33.70921  11:37:09  3 Sep 2020
39  44.05771  33.70684  11:37:08  3 Sep 2020
40  44.64577  34.38850  11:37:08  3 Sep 2020
41  44.64780  34.38829  11:37:08  3 Sep 2020
42  44.65007  34.38808  11:37:08  3 Sep 2020
43  44.65158  34.38736  11:37:08  3 Sep 2020
44  44.65440  34.38741  11:37:07  3 Sep 2020
45  44.65588  34.38708  11:37:07  3 Sep 2020
46  44.65834  34.38643  11:37:07  3 Sep 2020
47  44.66136  34.38656  11:37:07  3 Sep 2020
48  44.66292  34.38607  11:37:07  3 Sep 2020
49  44.66561  34.38577  11:37:06  3 Sep 2020

In [42]:
#limit dataset to a certain timestamp
df = df[df['timestamp'] == '11:37:14  3 Sep 2020']
print(df.head(11))

     subgroup   modeldate  dem_estimate    dem_hi    dem_lo  rep_estimate  \
1   All polls  11/10/1995      50.00000  56.30568  43.69432      44.00000
2   All polls  11/11/1995      50.00000  56.30568  43.69432      44.00000
3   All polls  11/12/1995      50.00000  56.30568  43.69432      44.00000
4   All polls  11/13/1995      50.00000  56.30568  43.69432      44.00000
5   All polls  11/14/1995      50.00000  56.30568  43.69432      44.00000
6   All polls  11/15/1995      49.49995  55.37096  43.62895      44.00000
7   All polls  11/16/1995      49.49995  55.37122  43.62868      44.00000
8   All polls  11/17/1995      49.49995  55.37136  43.62854      44.00000
9   All polls  11/18/1995      49.49995  55.37151  43.62840      44.00000
10  All polls  11/19/1995      49.65863  55.36221  43.95506      42.07977
11  All polls  11/20/1995      47.11865  52.50246  41.73484      40.57055

      rep_hi    rep_lo             timestamp
1   50.30568  37.69432  11:37:14  3 Sep 2020
2   50.30568  37.69432  11:37:14  3 Sep 2020
3   50.30568  37.69432  11:37:14  3 Sep 2020
4   50.30568  37.69432  11:37:14  3 Sep 2020
5   50.30568  37.69432  11:37:14  3 Sep 2020
6   49.87100  38.12900  11:37:14  3 Sep 2020
7   49.87127  38.12873  11:37:14  3 Sep 2020
8   49.87141  38.12859  11:37:14  3 Sep 2020
9   49.87155  38.12845  11:37:14  3 Sep 2020
10  47.78334  36.37619  11:37:14  3 Sep 2020
11  45.95436  35.18674  11:37:14  3 Sep 2020

In [43]:
dem_estimate_mean = df.groupby('subgroup')[['dem_estimate']].mean()
print(dem_estimate_mean)

           dem_estimate
subgroup
All polls     49.525189

In [44]:
rep_estimate_mean = df.groupby('subgroup')[['rep_estimate']].mean()
print(rep_estimate_mean)

           rep_estimate
subgroup
All polls     43.513665

In [45]:
dem_hi_mean = df.groupby('subgroup')[['dem_hi']].mean()
print(dem_hi_mean)

              dem_hi
subgroup
All polls  55.534375

In [46]:
#This function value_counts was something I learned by independent study. This function finds the frequencies of
#different values in the rep_estimate column in the timestamp the data is limited to 
df['rep_estimate'].value_counts(file)

44.00000    0.818182
42.07977    0.090909
40.57055    0.090909
Name: rep_estimate, dtype: float64

In [47]:
#This function memory_usage was something I learned by independent study. This function gives the memory usage of 
#each column in the dataset
df.memory_usage(deep=True)

Index            88
subgroup        726
modeldate       737
dem_estimate     88
dem_hi           88
dem_lo           88
rep_estimate     88
rep_hi           88
rep_lo           88
timestamp       847
dtype: int64

In [48]:
#This function loc[:] was something I learned by independent study. This function allows you to group specific
#rows an columns in a dataset. I used this function to group the columns modeldate, dem_estimate, and rep_estimate
#in the timestamp the data is limited to. 

df.loc[0:11, ['modeldate', 'dem_estimate', 'rep_estimate']]

     modeldate  dem_estimate  rep_estimate
1   11/10/1995      50.00000      44.00000
2   11/11/1995      50.00000      44.00000
3   11/12/1995      50.00000      44.00000
4   11/13/1995      50.00000      44.00000
5   11/14/1995      50.00000      44.00000
6   11/15/1995      49.49995      44.00000
7   11/16/1995      49.49995      44.00000
8   11/17/1995      49.49995      44.00000
9   11/18/1995      49.49995      44.00000
10  11/19/1995      49.65863      42.07977
11  11/20/1995      47.11865      40.57055

In [49]:
#This function df.query was something I learned by independent study. This function allows you to ask the program
#to sort the dataset based on certain logical questions. In this example I asked fot the rows in the dataset to be
#sorted by when the dem_estimate value was larger than the rep_hi value in the timestamp

df.query("dem_estimate > rep_hi")

,subgroup,modeldate,dem_estimate,dem_hi,dem_lo,rep_estimate,rep_hi,rep_lo,timestamp
10,All polls,11/19/1995,49.65863,55.36221,43.95506,42.07977,47.78334,36.37619,11:37:14 3 Sep 2020
11,All polls,11/20/1995,47.11865,52.50246,41.73484,40.57055,45.95436,35.18674,11:37:14 3 Sep 2020

In [50]:
#This function df.dtypes was something I learned by independent study. This function gives the data types of every
#column in the dataset

df.dtypes

subgroup         object
modeldate        object
dem_estimate    float64
dem_hi          float64
dem_lo          float64
rep_estimate    float64
rep_hi          float64
rep_lo          float64
timestamp        object
dtype: object

In [51]:
#I learned the function df[''].cumsum() independently. This function provided me with the cumulative sum of all 
#the values of the previous rows. Using this function I could see the total amount of points the rep_estimate and 
#dem_estimate columns differed over time

df[['dem_estimate', 'rep_estimate']].cumsum()

    dem_estimate  rep_estimate
1       50.00000      44.00000
2      100.00000      88.00000
3      150.00000     132.00000
4      200.00000     176.00000
5      250.00000     220.00000
6      299.49995     264.00000
7      348.99990     308.00000
8      398.49985     352.00000
9      447.99980     396.00000
10     497.65843     438.07977
11     544.77708     478.65032